#plear  include all important files and directory 

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.venv/

# Django
*.sqlite3
*.log
media/
staticfiles/

# OS
.DS_Store
Thumbs.db
